.hat {background: black url("images/hat-image.jpg");
    background-size: 110vmin 110vmin;
    background-position: center;
    background-repeat: no-repeat;
    color: snow;
    height: 20vh;
    font-size: 30pt;
    font-weight: bold;
    text-shadow: 0px 0px 5px black, 0px 0px 15px white;}

.img-card{
    object-fit: cover;
    height: 20vh;
    width: 100%;
    position: center}

.container .sticky-top {
    margin-right: inherit !important;
    padding-right: inherit !important;
}