<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <title>Title</title>
</head>
<body class="container">
<header>
    <nav class="navbar navbar-dark bg-primary sticky-top">
        <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" data-target="#navbar1" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-expand d-sm-block" id="navbar1">
            <ul class="navbar-nav nav mr-auto">
                <li class="nav-item">
                    <a id="tab_clients" class="nav-link" href="#clients" data-toggle="tab">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a id="tab_products" class="nav-link" href="#products" data-toggle="tab">Продукты</a>
                </li>
                <li class="nav-item">
                    <a id="tab_orders" class="nav-link" href="#orders" data-toggle="tab">Заказы</a>
                </li>
                <li class="nav-item">
                    <a id="tab_categories" class="nav-link" href="#">Категории</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="tab_reports" class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Отчёты</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1"  style="z-index: 999">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
</header>
<main>
    <dib class="tab-content">

    </dib>
<!-- Modal add-clients -->
    <div class="modal fade" id="add_client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Данные клиента</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="add_client_form">
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="client_name">Имя клиента</label>
                                <input class="form-control" type="tel" id="client_name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="client_phone">Телефон клиента</label>
                                <input class="form-control" type="tel" id="client_phone" name="phone">
                            </div>
                            <div class="form-group">
                                <label for="client_comment">Комментарий</label>
                                <textarea class="form-control" id="client_comment" rows="3"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <button type="submit" class="btn btn-primary">Добавить клиента</button>
                        <button type="button" class="btn btn-primary ml-auto" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--    Modal edit clients -->
    <div class="modal fade" id="edit_clients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalLabel">Данные клиента</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="info">
                    <div class="modal-body">
                        <label>Имя</label>
                        <div class="border rounded p-1">
                            <h5>Андрей</h5>
                        </div>
                        <label class="mt-2">Телефон</label>
                        <div class="border rounded d-flex">
                            <h5 class="m-1">555555555</h5>
                            <span class="btn-primary rounded-right ml-auto py-2 px-3" type="button">Позвонить</span>
                        </div>
                        <label class="mt-2">Комментарий</label>
                        <div class="border rounded p-1">
                            <h5>Охрененный чувак llkjoljkdfasfaefal adfal;dkflaskjf aeihoqihto qoihoqhwroih qewrqwerqwerqwerqwe qrqewr</h5>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-outline-danger mr-1" type="button">Удалить</button>
                            <button class="btn btn-primary" type="button">История</button>
                        </div>
                        <button class="btn btn-primary ml-auto" type="button" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    let id;
    update('clients').then(()=>{
        document.querySelector('#tab_clients').click();
    })

    async function update(area){
        let urlString = "/update-admin?area=" + area;
        let htmlText = await request(urlString);
        document.querySelector(".tab-content").innerHTML = htmlText;
        document.querySelector('#' + area).className += " active";
        let elements = document.querySelectorAll("tr[data-target=\"#edit_" + area + "\"]");
        for (let elem of elements){
            elem.onclick = async ()=> {
                id = elem.getAttribute("data-id");
                let idRequest = "/select-by-id?area=" + area + "&id=" + id;
                let info = request(idRequest);
            }
        }
    }

    document.querySelector("#add_client_form").onsubmit = async (e) =>{
        e.preventDefault();
        let name = document.getElementById("client_name").value;
        let phone = document.getElementById("client_phone").value;
        let comment = document.getElementById("client_comment").value;

        if (name == ""){
            alert("ВЫ НЕ УКАЗАЛИ ИМЯ КЛИЕНТА");
            return;
        }
        if (phone == ""){
            alert("ВЫ НЕ УКАЗАЛИ НОМЕР ТЕЛЕФОНА КЛИЕНТА");
            return
        }
        let urlString = "/add-item?area=clients&name=" + name + "&phone=" + phone + "&comment=" + comment;
        let answer = await request(urlString);
        alert(answer);
        if (answer != "КЛИЕНТ ДОБАВЛЕН"){
            return;
        }
        update("clients");
        document.querySelector("#client_name").value = "";
        document.querySelector("#client_phone").value = "";
        document.querySelector("#client_comment").value = "";
    }

    async function request(urlString) {
        let response = await fetch(urlString);
        let result = await response.text();
        return result;
    }
</script>
</body>
</html>