<div id="info-card">
    <div class="modal-body">
        <div id="info-panel">
            <div class="m-3">
                <label>Имя клиента</label>
                <div class="border rounded p-1">
                    <h5>${name}</h5>
                </div>
                <label class="mt-3">Телефон клиента</label>
                <div class="border rounded d-flex">
                    <h5 class="m-1">${phone}</h5>
                    <span class="btn-primary rounded-right ml-auto py-2 px-3" type="button">Позвонить</span>
                </div>
                <label class="mt-3">Комментарий</label>
                <div class="border rounded p-1">
                    <h5>${comment}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-start">
        <div class="btn-group">
            <button id="dellSubmit" class="btn btn-outline-danger mr-1" type="button">Удалить</button>
            <button id="historyButton" class="btn btn-primary" type="button">История</button>
        </div>
        <button id="btnClose" class="btn btn-primary ml-auto" type="button" data-dismiss="modal">Закрыть</button>
    </div>
</div>
<div id="edit-card" class="d-none">
    <div class="modal-body">
        <form id="edit_client_form">
            <div class="modal-body">
                <div class="form-group">
                    <label for="client_name">Имя клиента</label>
                    <input class="form-control focus" type="tel" style="font-size: 1.2rem" id="client_name" name="name" value="${name}">
                </div>
                <div class="form-group">
                    <label for="client_phone">Телефон клиента</label>
                    <input class="form-control" type="tel" style="font-size: 1.2rem" id="client_phone" name="phone" value="${phone}">
                </div>
                <div class="form-group">
                    <label for="client_comment">Комментарий</label>
                    <textarea class="form-control" style="font-size: 1.2rem" id="client_comment">${comment}</textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-start">
        <div class="btn-group">
            <button id="editCancel" type="button" class="btn btn-primary mr-1">Отменить</button>
        </div>
        <button id="editSubmit" class="btn btn-primary ml-auto" type="button">Изменить</button>
    </div>
</div>





