<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/shop.css">
    <title>Title</title>
</head>
<body class="container">
<header>
    <nav class="navbar navbar-dark bg-primary sticky-top">
        <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" data-target="#navbar1" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-expand d-sm-block" id="navbar1">
            <ul class="navbar-nav nav mx-auto">
                <li class="nav-item text-white ml-1 p-1" data-tab="clients">
                    Клиенты
                </li>
                <li class="nav-item text-white ml-1 p-1" data-tab="products">
                    Продукты
                </li>
                <li class="nav-item text-white ml-1 p-1" data-tab="orders">
                    Заказы
                </li>
                <li class="nav-item text-white ml-1 p-1" data-tab="categories">
                    Категории
                </li>
            </ul>
        </div>

    </nav>
</header>
<main>
    <dib class="tab-content">

    </dib>
<!-- Modal add-clients -->
    <div class="modal fade" id="add_client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Данные клиента</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="add_client_form">
                    <div class="modal-body">
                            <div class="form-group">
                                <label>Имя клиента</label>
                                <input class="form-control focus" type="tel" id="add_client_name" name="name">
                            </div>
                            <div class="form-group">
                                <label>Телефон клиента</label>
                                <input class="form-control" type="tel" id="add_client_phone" name="phone">
                            </div>
                            <div class="form-group">
                                <label>Комментарий</label>
                                <textarea class="form-control" id="add_client_comment" rows="3"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <button id="addClientSubmit" type="submit" class="btn btn-primary">Добавить клиента</button>
                        <button type="button" class="btn btn-primary ml-auto" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--    Modal edit clients -->
    <div class="modal fade" id="edit_clients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalLabel">Данные клиента</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="info">

                </div>
            </div>
        </div>
    </div>

    <!-- Modal add-products -->
    <div class="modal fade" id="add_product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Данные продукта</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="add_product_form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Название продукта</label>
                            <input class="form-control focus" id="add_product_title" name="title">
                        </div>
                        <div class="form-group">
                            <label>Категория</label>
                            <input class="form-control" id="add_product_category" name="category">
                        </div>
                        <div class="form-group">
                            <label>Цена</label>
                            <input class="form-control" id="add_product_price" name="price">
                        </div>
                        <div class="form-group">
                            <label>Количество</label>
                            <input class="form-control" id="add_product_amount" name="price">
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            <textarea class="form-control" id="add_product_description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <button id="addProductSubmit" type="submit" class="btn btn-primary">Добавить продукт</button>
                        <button type="button" class="btn btn-primary ml-auto" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--    Modal edit products -->
    <div class="modal fade" id="edit_product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalLabel">Данные клиента</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="info">

                </div>
            </div>
        </div>
    </div>

</main>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    let id;
    let area = "clients";

    update(area);

    $('body').on('click', clickHandler);

    function clickHandler(e){
        e.preventDefault()
        let targetEll = e.target;
        if (targetEll.matches('.nav-item')){
            update(targetEll.getAttribute('data-tab'));
            return;
        }
        if (targetEll.matches('.item')){
            id = targetEll.parentElement.getAttribute("data-id");
            updateCard().then();
            return;
        }if (targetEll.matches('#dellSubmit')){
            dellItem().then();
            return;
        }
        if (targetEll.matches('#info-panel, #info-panel *:not([type="button"])')){
            toggleToEditItem();
            return;
        }
        if (targetEll.matches('#editClientSubmit')){
            editClientSubmit();
            return;
        }
        if (targetEll.matches('#addClientSubmit')){
            addClientSubmit();
            return;
        }

    }

    async function updateCard(){
        let idRequest = "/select-by-id?area=" + area + "&id=" + id;
        let info = await request(idRequest);
        document.getElementById("info").innerHTML = info;
    }

    async function dellItem(){
        let urlString = "/dell-item?area=" + area + "&id=" + id;
        let answer = await request(urlString);
        if (answer !== "1"){
            alert("НЕ УДАЛОСЬ УДАЛИТЬ");
        }
        alert("УДАЛЕНО");
        update(area).then(()=> document.getElementById("btnClose").click());
    }

    function toggleToEditItem(){
        document.getElementById("info-card").className = "d-none";
        document.getElementById("edit-card").className = "";
        document.getElementById("modalLabel").textContent = "Изменение данных клиента";
    }

    async function editClientSubmit(){
        let name = document.getElementById("edit_client_name").value;
        let phone = document.getElementById("edit_client_phone").value;
        let comment = document.getElementById("edit_client_comment").value;

        if(!validClientsForm(name, phone)) return;

        let urlString = "/edit-item?area=" + area + "&id=" + id + "&name=" + name + "&phone="
            + phone + "&comment=" + comment;

        let answer = await request(urlString);
        if (answer !== "1"){
            alert("НЕ УДАЛОСЬ ИЗМЕНИТЬ ДАННЫЕ");
            return;
        }
        alert("ДАННЫЕ ИЗМЕНЕНЫ");
        update(area);

    }

    async function update(ar){
        let urlString = "/update-admin?area=" + ar;
        let htmlText = await request(urlString);
        document.querySelector(".tab-content").innerHTML = htmlText;
        document.querySelector('#' + area).className = "tab-pane w-100";
        area = ar;
        document.querySelector('#' + area).className = "tab-pane w-100 active";
    }

    async function addClientSubmit(){
        let name = document.getElementById("add_client_name").value;
        let phone = document.getElementById("add_client_phone").value;
        let comment = document.getElementById("add_client_comment").value;

        if(!validClientsForm(name, phone)) return;

        let urlString = "/add-item?area=clients&name=" + name + "&phone=" + phone + "&comment=" + comment;
        let answer = await request(urlString);
        if (answer !== "1"){
            alert("КЛИЕНТ НЕ БЫЛ ДОБАВЛЕН");
            return;
        }
        alert("КЛИЕНТ ДОБАВЛЕН");
        update("clients");
        document.querySelector("#add_client_name").value = "";
        document.querySelector("#add_client_phone").value = "";
        document.querySelector("#add_client_comment").value = "";
    }



    async function request(urlString) {
        let response = await fetch(urlString);
        let result = await response.text();
        return result;
    }

    function validClientsForm(name, phone) {
        if (name == ""){
            alert("ВЫ НЕ УКАЗАЛИ ИМЯ КЛИЕНТА");
            return false;
        }
        if (phone == ""){
            alert("ВЫ НЕ УКАЗАЛИ НОМЕР ТЕЛЕФОНА КЛИЕНТА");
            return false;
        }
        return true;
    }
</script>
</body>
</html>