<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Title</title>
</head>
<body>
<ul class="app-bar-present pos-absolute"
    data-role="materialtabs" data-fixed-tabs="true">
    <li><a href="#">Music</a></li>
    <li><a href="#">Films</a></li>
    <li><a href="#">Books</a></li>
</ul>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>