<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link rel="stylesheet" type="text/css" href="grid-admin.css">
</head>
<body>
<div class="container">
    <div class="pnl menu">
        <div id="menu">
            <img src="templates-image/admin-menu-button.svg" alt="" id="btn-menu" class="btn">
            <div class="item btn" id="clients">Клиенты</div>
            <div class="item btn" id="products">Продукты</div>
            <div class="item btn" id="orders">Заказы</div>
            <div class="item btn" id="categories">Категории</div>
        </div>
        <div class="search">
            <input type="text" name="search">
            <img src="templates-image/icons8_search_1px_3.png" type="submit" class="btn"/>
        </div>

    </div>
    <div class="pnl content"></div>
    <div class="pnl action"></div>

</div>

</body>
</html>