html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.container{
    max-width: 700px;
    margin: auto;
    height: 100vh;
    /*padding: 5px;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6% 1fr 8%;
}
.pnl{
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
    font-size: 2.7vmin;
    font-family: Arial;
}
.selection, .action{
    background-color: #59ADFF;
    display: grid;
    color: white;
}
.content{
    background-color: white;
}

.selection{
    grid-template-columns: [menu] 75% [search] 25%;
    grid-template-rows: 100%;
    grid-gap: 2px;
}
#menu{
    padding: 2px;
    grid-gap: 2px;
    grid-column: menu;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100%;
    align-items: end;
}
#menu>img{
    display: none;
}
.search{
    padding: 4px;
    display: grid;
    grid-template-columns: [input] 80% [img] 20%;
    grid-template-rows: 100%;
    grid-gap: 4px;
    align-items: end;
}
.selection img{
    grid-column: img;
    object-fit: cover;
    height: 80%;
}
.selection input{
    height:60%;
}
.btn:not(.selected):hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 0.03rem white);
}
.btn:not(.selected):active{
    filter: drop-shadow(0px 0px 0.1rem black);
}

.selected{
    font-weight: bold;
    text-decoration: underline;
}
.action{
    display: grid;
    grid-template-columns: [btn1] 1fr [btn2] 1fr [btn3] 1fr [space] 1fr [btn4] 1fr;
    align-items: center;
    grid-gap: 6px;
}
.action .btn{
    /*border: 2px solid white;*/
    border-radius: 4px;
    height: 60%;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: rgba(2, 80, 160, 0.61);
}
#btn1{
    grid-column: btn1;
}
#btn2{
    grid-column: btn2;
}
#btn3{
    grid-column: btn3;
}
#btn4{
    grid-column: btn4;
}