html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
input{
    width: 90%;
}
.container{
    max-width: 700px;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(40px,7%) 1fr minmax(60px,8%);
}
.pnl{
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
    font-size: calc(15px + 0.2vmin);
    font-family: Arial;
}
.selection, .action{
    background-color: #59ADFF;
    display: grid;
    color: white;
}
.content{
    background-color: white;
}
.selection{
    grid-template-columns: [menu] auto [search] 160px;
    grid-template-rows: 100%;
    grid-gap: 2px;
    align-content: end;
}
#menu{
    padding: 2px;
    grid-gap: 2px;
    grid-column: menu;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100%;
    align-items: end;
}
#menu>img{
    display: none;
}
.search{
    padding: 2px;
    display: grid;
    grid-template-columns: [input] 1fr [img] 20%;
    grid-template-rows: minmax(30px, 40%);
    grid-gap: 4px;
    align-items: end;
    justify-items: end;
    align-content: end;
}
.selection img{
    grid-column: img;
    object-fit: cover;
    height: 80%;
}
.selection input{
    height:60%;
}
.btn:not(.selected):hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 0.05rem #ffffff);
}
.btn:not(.selected):active{
    filter: drop-shadow(0px 0px 0.15rem #767676);
}
.selected{
    font-weight: bold;
    text-decoration: underline;
}
.action{
    display: grid;
    grid-template-columns: [btn1] 3fr [space] 1fr [btn4] 120px;
    align-items: center;
    grid-gap: 6px;
}
.action .btn{
    border-radius: 4px;
    height: 70%;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: rgba(2, 80, 160, 0.85);
}
#btn4{
    grid-column: btn4;
}