html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    /*background-color: blueviolet;*/
    position: relative;
}
.pnl{
    width: 100%;
    background-color: #59ADFF;
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
    position: relative;
    font-family: "Arial";
}
.menu{
    height: 5%;
}
.action{
    height: 10%;
}
.content{
    width: 100%;
    /*overflow: auto;*/
    height: 85%;
    background-color: #ffffff;
}
#menu{
    position: absolute;
    bottom: 5px;
    width:65%;
    height: 60%;
    /*overflow: hidden;*/
    /*background-color: #00006c;*/
    /*padding:2px;*/
}
#btn-menu{
    /*display: none;*/
    height: 100%;
    float: left;
}
.item{
    width: 20%;
    float: left;
    margin: 0px 2px 0px 2px;
    color:white;
    font-size: 3vmin;
    text-align: center;
}
.search{
    width:30%;
    position: absolute;
    bottom: 5px;
    right: 10px;
    height: 60%;
}
.search form{
    width: 80%;
    height: 100%;
    float: right;
}
.search input{
    float: right;
    width: 100%;
    min-width: 10px;
}
.search img{
    height: 100%;
    float: right;
}