<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link rel="stylesheet" type="text/css" href="new-admin.css">
</head>
<body>
<div class="container">
    <div class="pnl menu">
        <img class="max410" src="templates-image/admin-menu-button.svg" alt="" height="100%">
        <div class="min410" id="menu">
            <div class="item" id="clients">Клиенты</div>
            <div class="item" id="products">Продукты</div>
            <div class="item" id="orders">Заказы</div>
            <div class="item" id="categories">Категории</div>
        </div>
        <div id="title-table"></div>
        <div class="search"></div>

    </div>
    <div class="pnl content"></div>
    <div class="pnl action"></div>
    
</div>
</body>
</html>